<div class="row">
  <div class="col-xs-6 col-md-6 col-md-offset-3">

    <form class="form-group">
      <div class="form-group">
        <div class="input-group">
          <input #inputNewTask class="form-control" placeholder="Nova tarefa">
          <div class="input-group-btn">
            <button type="button" (click)="addNewTaskInCategory($event, inputNewTask.value, categorySelected.value)" class="btn btn-default">Adicionar</button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <select #categorySelected class="form-control">
          <option *ngFor="let category of tasks" [value]="category.categoria">{{ category.categoria }}</option>
        </select>
      </div>
    </form>

    <table class="table">
      <thead>
        <tr><th>Categorias disponíveis</th></tr>
      </thead>
      <tbody *ngFor="let category of tasks">
        <tr><td  *ngIf="category.feito === false">{{ category.nome }}</td></tr>
      </tbody>
    </table>

  </div>
</div>
