<h1 class="page-header">Pontos Turísticos</h1>
<div *ngFor="let attractions of data" class="panel panel-default">
  <div class="panel-body">
    <div class="col-sm-8">
      <h3>{{ attractions.name }}</h3>
      <h3>{{ attractions.geoResult.address }}</h3>
      <h3>{{ attractions.description.text }}</h3>
    </div>
    <div class="col-sm-4">
      <agm-map [latitude]="attractions.geoResult.point.lat" [longitude]="attractions.geoResult.point.lng" [zoom]="13">
        <agm-marker [latitude]="attractions.geoResult.point.lat" [longitude]="attractions.geoResult.point.lng"></agm-marker>
      </agm-map>
    </div>
  </div>
</div>
