<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-right" role="search">
        <a routerLink="/categories" routerLinkActive="active" class="btn btn-primary">{{ category }}</a>
        <a routerLink="/tasks" routerLinkActive="active" class="btn btn-primary">{{ tasks }}</a>
        <a routerLink="/home" routerLinkActive="active" class="btn btn-primary">{{ seeTaskByCategory }}</a>
        <a routerLink="/otherHome" routerLinkActive="active" class="btn btn-primary">{{ seeTaskByUniqueList }}</a>
      </form>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>


