<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li><a routerLink="/firefighter" routerLinkActive="active">Bombeiros</a></li>
    <!--<li class="active"><a href="#">Bombeiros <span class="sr-only">(current)</span></a></li>-->
    <li><a routerLink="/police-station" routerLinkActive="active">Delegacias</a></li>
    <li><a routerLink="/hotel" routerLinkActive="active">Hotéis</a></li>
    <li><a routerLink="/olympic-games" routerLinkActive="active">Jogos Olímpicos</a></li>
    <li><a routerLink="/health-posts" routerLinkActive="active">Postos de Saúde</a></li>
    <li><a routerLink="/bathrooms" routerLinkActive="active">Banheiros</a></li>
    <li><a routerLink="/schools" routerLinkActive="active">Escolas</a></li>
    <li><a routerLink="/attractions" routerLinkActive="active">Pontos Turísticos</a></li>
    <li><a routerLink="/beaches" routerLinkActive="active">Praias</a></li>
    <li><a routerLink="/restaurants" routerLinkActive="active">Restaurantes</a></li>
  </ul>
</div>
